
.container {
    display: grid;A
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main-content main-content aside"
        "footer footer footer"

}


.header {
    grid-area: header;
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;

}



.nav {
    grid-area: nav;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.nav a {
    color: white;
    text-decoration: none;

}


.main-content {
    grid-area: main-content;
    background-color: lightgray;
    padding: 10px;
    height: 50vh;

}


.aside {
    grid-area: aside;
    background-color: white;
    padding: 10px;

}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    height: 20vh;

}