/* For screens 768px and larger */
@media (min-width: 768px) {
    nav ul {
        flex-direction: row; /* Horizontal layout for large screens */
        justify-content:right;
        padding-inline-start: 20px;
        background-color: transparent; /* Match design preference */
    }

    #hamburger {
        display: none; /* Hide the hamburger menu on large screens */
    }

    .hidden {
        display: flex; /* Always display the menu on large screens */
    }

    .album-grid {
        grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
    }
}
