@media screen and (min-width: 750px) {
    header {
        width: 100%;
        max-width: 1024px;
    }

    main {
        display: block;
        position: relative;
        justify-content: left;
        text-align: left;
        max-height: 33.5rem;
    }

    .data {
        position: absolute;
        z-index: 1;
        top: 1rem;
        left: 2rem;
    }

    .weather {
        position: absolute;
        top: 10rem;
        right: 2rem;
    }

    .data h2,
    .weather h2 {
        position: relative;
        right: 2rem;
        top: -1rem;
        text-align: left;
        margin-top: 1rem
    }

    .weather h2::after {
        display: block;
        position:relative;
        right: -70px;
        top: -35px;
        z-index: 1;
        content: "🌞";
        font-size: 2rem;
        padding-left: 3rem;
    }

    .svg {
        display: none;
    }

    .data,
    .weather {
        padding: 1rem;
        grid-template-rows: 0fr 0fr;
        padding: 1%;
        box-shadow: 0.5rem 0.5rem 0.5rem 1px var(--accent2-color);
    }

    .hero {
        position: relative;
        z-index: 0;
        max-width: 1024px;
        min-width: 750px;
        min-height: 30rem;
    }

    footer {
        width: 100%;
        max-width: 1024px;
        border: solid 2px var(--secondary-color);
        background-color: var(--secondary-color);
        color: var(--accent3-color)
    }
}