 /* Hide hamburger on large screens */
 @media (min-width: 700px) {
    #menu-btn {
        display: none;
    }
/* Reset positioning  so that nav*/
    nav {
        position: static; 
        width: auto;
        background: none;

    }

    nav ul {
        display: flex; 
        flex-direction: row;
        background: none;
        justify-content: center;
    }

    nav ul li {
        margin: 15px;
        justify-content: space-between;
    }

    nav ul li a:hover {
        background-color: black;
        color: white; /* Dark text on hover */
        padding: 5px;
        border-radius: 5px;
    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: 0.5rem 0.5rem;
        background-color: #023047;
        color: white;
    }
    menu::before {
        content: "≡";
    }
    
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}